
<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">فروشگاه زی</h2>
                <ul class="list-unstyled text-light footer-link-list padd-r-0">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        تهران ، کریم خان
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">021-020-0340</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">infocompany.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">محصولات</h2>
                <ul class="list-unstyled text-light footer-link-list padd-r-0">
                    <li><a class="text-decoration-none" href="#">لاکچری</a></li>
                    <li><a class="text-decoration-none" href="#">لباس ورزشی</a></li>
                    <li><a class="text-decoration-none" href="#">کفش مردانه</a></li>
                    <li><a class="text-decoration-none" href="#">کفش زنانه</a></li>
                    <li><a class="text-decoration-none" href="#">لباس محبوب</a></li>
                    <li><a class="text-decoration-none" href="#">لوازم بدنسازی</a></li>
                    <li><a class="text-decoration-none" href="#">کفش ورزشی</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">اطلاعات بیشتر</h2>
                <ul class="list-unstyled text-light footer-link-list padd-r-0">
                    <li><a class="text-decoration-none" href="#">خانه</a></li>
                    <li><a class="text-decoration-none" href="#">درباره ما</a></li>
                    <li><a class="text-decoration-none" href="#">آدرس فروشگاه</a></li>
                    <li><a class="text-decoration-none" href="#">سوالات متداول</a></li>
                    <li><a class="text-decoration-none" href="#">تماس با ما</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons padd-r-0">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">آدرس ایمیل</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="آدرس ایمیل">
                    <div class="input-group-text btn-success text-light">عضویت</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        کلیه حقوق محفوظ است
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->