<div class="container">
    <section id="form">

        <div class="form-group">
            <label for="Email">ایمیل</label>
            <input type="email" class="form-control" id="Email" [(ngModel)]="model.email"
                   aria-describedby="emailHelp">

        </div>

        <div class="form-group">
            <label for="Password">کلمه عبور</label>
            <input type="password" class="form-control" [(ngModel)]="model.password" id="Password">
        </div>
        <button type="submit" (click)="onLogin()" class="btn btn-primary">ورود</button>
    </section>
</div>

